<section>
    <div class="container vh-100">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
          <div class="example-container">
            <h1 class="text-center fw-bolder pb-3">Login</h1>
            <form  [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill" class="mb-2">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="formControlles['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="mb-2">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formControlles['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-flat-button type="submit" class="btn-login">Login</button>
            </form>
        </div>
        </div>
    </div>
</section>
