<h1 mat-dialog-title>Add New TimeTable</h1>
<div mat-dialog-content>
  <form [formGroup]="addTableForm" class="mb-3">
    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade">
        <mat-option value="one">Primary one </mat-option>
        <mat-option value="two">Primary Two</mat-option>
        <mat-option value="three">Primary Three</mat-option>
        <mat-option value="four">Primary Four</mat-option>
        <mat-option value="five">Primary Five</mat-option>
        <mat-option value="six">Primary Six</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Day</mat-label>
      <mat-select formControlName="day">
        <mat-option value="sun">Sunday </mat-option>
        <mat-option value="mon">Monday</mat-option>
        <mat-option value="tue">Tuseday</mat-option>
        <mat-option value="wed">Wedensday</mat-option>
        <mat-option value="thu">Thursday</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 1</mat-label>
      <mat-select formControlName="1">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 2</mat-label>
      <mat-select formControlName="2">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 3</mat-label>
      <mat-select formControlName="3">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 4</mat-label>
      <mat-select formControlName="4">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 5</mat-label>
      <mat-select formControlName="5">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 6</mat-label>
      <mat-select formControlName="6">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject 7</mat-label>
      <mat-select formControlName="7">
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <button mat-raised-button type="button" (click)="addDay()" color="primary">Add</button>
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12 mb-3">
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
    </ng-container>

    <ng-container matColumnDef="8-8.45">
      <th mat-header-cell *matHeaderCellDef> 8-8.45 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['1']}} </td>
    </ng-container>

    <ng-container matColumnDef="8.45-9.30">
      <th mat-header-cell *matHeaderCellDef> 8.45-9.30 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['2']}} </td>
    </ng-container>

    <ng-container matColumnDef="9.30-10.15">
      <th mat-header-cell *matHeaderCellDef> 9.30-10.15 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['3']}} </td>
    </ng-container>

    <ng-container matColumnDef="10.15-11">
      <th mat-header-cell *matHeaderCellDef> 10.15-11 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['4']}} </td>
    </ng-container>

    <ng-container matColumnDef="11.15-12">
      <th mat-header-cell *matHeaderCellDef> 11.15-12 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['5']}} </td>
    </ng-container>

    <ng-container matColumnDef="12-12.45">
      <th mat-header-cell *matHeaderCellDef> 12-12.45 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['6']}} </td>
    </ng-container>

    <ng-container matColumnDef="12.45-1.30">
      <th mat-header-cell *matHeaderCellDef> 12.45-1.30 </th>
      <td mat-cell *matCellDef="let element"> {{element.subjects['7']}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="editeDay(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="mb-2">
    <button mat-raised-button type="button" [disabled]="table.timeTable.length<5" (click)="save()"
      color="primary">Save</button>
    <button mat-raised-button type="button" class="ms-3" [hidden]="data.table === null" (click)="delete()"
      color="warn">Delete</button>
  </div>

</div>