@import "./style/colors.scss";
@import "./style/global.scss";

#navBar {
  position: relative;

  .navContainer {
    z-index: 44;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;

    .navImg {
      img {
        width: 100px;
        margin-left: 1rem;
      }
    }

    .navItem {
      display: flex;
      align-items: center;

      >ul {
        list-style: none;
        display: flex;

        >li {
          display: flex;
          margin: 0.3rem 0.5rem;
          position: relative;
          border: 2px solid rgba(0, 0, 0, 0);
          color: $gray;
          padding: 1rem;
          cursor: pointer;

          @include transition;

          &:hover {
            border: 2px solid $gray;
            border-radius: 0.5rem;
          }

          ul {
            list-style: none;
            position: absolute;
            border-radius: 0.25rem;
            top: 200%;
            padding: 2rem 0.5rem;
            width: 200px;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            transition: all ease-in-out 0.3s;

            li {
              position: relative;
              ul {
                list-style: none;
                position: absolute;
                border-radius: 1.25rem;
                top: -50% !important;
                left: 110%;
                padding: 2rem 0.5rem;
                width: 200px;
                display: flex;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                transition: all ease-in-out 0.3s;
              }


                &:hover>ul {
                  top: 100%;
                  padding-left: 1rem;
                  background-color: rgba(17, 17, 17, 0.226);
                  opacity: 1;
                  visibility: visible;
                  
                }

              }

            }

            &:hover>ul {
              top: 100%;
              padding-left: 1rem;
              background-color: rgba(17, 17, 17, 0.226);
              opacity: 1;
              visibility: visible;
            }
          }

        }
      }
    }
  }



  .nav__menu {
    display: flex;
    align-items: center;
  }

  .nav__toggler {
    display: none;
  }

  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
  }

  @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }

    .nav__item {
      .nav__link {
        color: $secoundryColor;
        transition: all ease-in-out 0.3s;
        border: 3px solid $secoundryColor !important;
        padding: 5px 10px;

        &:hover {
          background-color: white;
          color: $secoundryColor;
          border: 3px solid white;
        }

      }
    }

    .nav__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 50vw;
      background: $secoundryColor;
      z-index: 99999;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }

  /* Active Class */
  .nav__active {
    transform: translateX(0%);
  }

  /* Toggle Icon Animation */

  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }