<h1 mat-dialog-title>Add New Event</h1>
<div mat-dialog-content>
  <form [formGroup]="addeventForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="formControlles['title'].invalid">{{getTitleErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formControlles['date'].invalid">{{getDateErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Description</mat-label>
      <textarea matInput rows="10" formControlName="description"></textarea>
      <mat-error *ngIf="formControlles['description'].invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade">
        <mat-option value="one">Primary one </mat-option>
        <mat-option value="two">Primary Two</mat-option>
        <mat-option value="three">Primary Three</mat-option>
        <mat-option value="four">Primary Four</mat-option>
        <mat-option value="five">Primary Five</mat-option>
        <mat-option value="six">Primary Six</mat-option>
      </mat-select>
      <mat-error *ngIf="formControlles['grade'].invalid">{{getGradeErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile" formControlName="imageName" (change)="change($event)">
    </div>
    <div class="mb-3">
      <p class="mb-3">Location</p>
      <mat-form-field appearance="fill" class="full-width mb-2" formGroupName="location">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formControlles['location'].get('name')?.invalid">{{getLocationErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width mb-2" formGroupName="location">
        <mat-label>Url</mat-label>
        <input matInput formControlName="url">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="data.Events === null? addeventForm.invalid: false">Submit</button>
    </div>
  </form>
</div>