<ng-container *ngIf="events.length === 0">
  <section class="container h-100">
    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
      <button mat-raised-button color="primary" (click)="openDialog()" class="fit-content">Add Event</button>
      <p class="text-secondary">No events to show pleas add students first</p>
  </div>
  </section>
</ng-container>

<ng-container *ngIf="events.length > 0">
<section class=" w-100">
    <button mat-fab color="primary" (click)="openDialog()" class="fab-pos">
        <mat-icon>add</mat-icon>
    </button>
    <div class="container h-100">
      <div class="row my-5">
        <app-card-event class="col-lg-4 col-md-6 col-sm-12 my-3" *ngFor="let item of events" [item]="item"></app-card-event>
      </div>
    </div>
</section>
</ng-container>
