<h1 mat-dialog-title>Add New Teacher</h1>
<div mat-dialog-content>
  <form [formGroup]="addTeacherForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label> Name</mat-label>
      <input matInput type="text" formControlName="name" required>
      <mat-error *ngIf="formControlles['name'].invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width mb-2">
      <mat-label>Subject</mat-label>
      <mat-select formControlName="subject"> 
        <mat-option value="arabic">Arabic</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="math">Math</mat-option>
        <mat-option value="sience">Sience</mat-option>
        <mat-option value="soclia">Socila studies</mat-option>
        <mat-option value="computer">Computer</mat-option>
        <mat-option value="frinsh">Frinsh</mat-option>
      </mat-select>
      <mat-error *ngIf="formControlles['subject'].invalid">{{getSubjectErrorMessage()}}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="mb-2 full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="formControlles['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-2 full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formControlles['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="addTeacherForm.invalid">Submit</button>
    </div>
  </form>
</div>