.content{
    width: 80%;
}
.fit-content{
    height: fit-content;
    width: fit-content;
}
.full-width{
    width: 100%;
}
.mat-dialog-content{
    height: 383 px;
}
.fab-pos{
    position: fixed;
    right: 6%;
    bottom: 6%;
    z-index: 5;
}