/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { 
    height: 100%;
    background-image: linear-gradient( to right ,rgb(206, 226, 238) ,rgb(104, 188, 236), rgb(8, 107, 164));
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label{
  width: 50% !important;
}
.mat-tab-body-wrapper{
  height: 84.7vh;
}
