@mixin transition {
    transition: all ease-in-out 0.3s;

}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin positionCenter {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin primaryBtn {
    border-radius: 1em;
    background-color: $primaryColor;
    padding: 0.3em 1em;
    @include transition;

    &:hover {
        transform: scale(1.05);
        background-color: $secoundryColor;
        color: $primaryColor;

    }

}